.video-sidebar {
  display: block;
  zoom: 1;
  -moz-transition: right 250ms ease-in;
  transition: right 250ms ease-in;
  background: #565692;
  bottom: 0;
  color: #000;
  height: 50vh;
  line-height: 1.5em;
  position: absolute;
  right: 0;
  width: 214.4px;
  z-index: 5;
}
