.timeline {
  background-color: #434d5b;
  color: #7d8ea8;
  font-weight: bold;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: .8rem;
  -webkit-font-smoothing: antialiased;
  .range {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
